html, body { margin:0; padding:0; overflow:hidden }


.clickable{
    fill: black;
    stroke: rgba(86, 97, 92, 0.31);
}

.clickable:hover{
    fill: grey
}

.clicked{
    fill: darkOrange;
}

.clicked:hover{
    fill: orange;
}

#globe svg{
    width:100%;
     height:100vh;
}

.graticule {
  fill: none;
  stroke: rgba(86, 97, 92, 0.31);
  stroke-opacity: 1;
  stroke-width: 1px;
  pointer-events: none;
}

/* Search */


input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


form{
    position: absolute;
    width: 100%;
    background-color: rgba(86, 97, 92, 0.31)
  }

input[type=search] {
     margin: 10px 20px;
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 200px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 400px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}



input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}


#rowcontainer{
    margin: auto;
    width: 420px;
}

#rowcontainer tr:first-child{
    background-color: darkorange;
}

.rowcell{
    text-align: left;
    width:400px;
    background-color: white;
     border: solid 1px #ccc;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    padding:10px;
}

.rowcell *{
    margin: 5px 10px;

}

#menu{

    height: 100vh;
    background-color: orange;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.stat{
    padding: 10px 20px;
}


.flag{
    min-width: 100px;
    min-height: 100px;
}