
* {
    border-radius: 0 !important;
}

nav {
    text-align: center;
    padding: 10px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-color: #1C2826;
    color: white;
    font-size: 1.5em;
}


nav li{
    display: inline-block;
    padding: 5px 5px;
    transition: color 0.5s;
    transition-timing-function: ease-out;
}


nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
}


nav li:hover{
    color: #D64550;
    text-decoration: underline;
}





