

circle {
    fill: green;
}

h1{
    padding: 10px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: rebeccapurple;
}

svg{
    padding: 2em 1em;
}

text {
    font-size: larger;
    color: darkslateblue;
    border: dashed 1px;

}


.node {
    border: dashed 1px;
}